@import "tailwindcss";

@theme {
  --color-grape-50: #faf7ff;
  --color-grape-100: #f3ecff;
  --color-grape-200: #e9dcff;
  --color-grape-300: #d7bfff;
  --color-grape-400: #c197ff;
  --color-grape-500: #a669ff;
  --color-grape-600: #6a22c8;
  --color-grape-700: #5c1ea6;
  --color-grape-800: #4d1a85;
  --color-grape-900: #3f156b;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


